@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#heroSection {
    width: 100%;
    height: 550px;
    background-image: url("./images/slide01.jpg");
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    display: block;
    font-size: 20px;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    float: left;
}

ul {
    float: right;
    display: flex;
}

ul li a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

ul li {
    margin-top: 20px;
    /* margin-right: 20px; */
    list-style: none;
}

ul li:nth-child(5) {
    margin-right: 10px;
}

#heroContent p {
    display: flex;
    justify-content: flex-end;
    padding-top: 300px;
    margin-right: 580px;
    color: white;
    font-weight: 100;
    margin-bottom: 20px;
}

hr {
    color: white;
    width: 150px;
    margin: auto;
}

#heroContent h2 {
    font-size: 40px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    color: white;
}

#secondSection {
    width: 100%;
    height: 600px;
    background-color: rgb(226, 232, 236);
    padding-top: 60px;
    padding-left: 150px;
}

#firstContent {
    width: 40%;
    background-color: white;
    font-size: 16px;
    float: left;
    text-align: center;
}

#firstContent p {
    font-size: 16px;
    margin: 10px 10px;
    font-family: 'Montserrat', sans-serif;
}

#contentpara {
    margin-top: 20px;
    text-align: left;
    padding: 10px;
}

#secondContent {
    width: 40%;
    margin-left: 20px;
    text-align: center;
    background-color: white;
    font-size: 16px;
    float: left;
}

#secondContent p {
    font-size: 16px;
    margin: 10px 10px;
    font-family: 'Montserrat', sans-serif;
}

button {
    padding: 10px;
    margin-bottom: 10px;
}

#bannerSection {
    width: 100%;
    height: 250px;
    background-image: url(./images/pic04.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#bannerSection p {
    padding-top: 70px;
    font-size: 18px;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

#bannerSection h2 {
    padding-top: 30px;
    font-size: 18px;
    color: white;
    text-align: center;
}


/* #bannerSection p {
    padding-top: 70px;
    font-size: 18px;
    color: white;
} */